---
import { getCollection } from "astro:content";
const allPosts = await getCollection("teachers");
import TeacherEntries from "@/components/teachers/TeacherEntries.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import SubscribeOne from "@/components/ctas/SubscribeOne.astro";
---

<BaseLayout>
  <section>
    <div
      class="relative px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
      <div class="max-w-2xl mx-auto text-center">
        <h1
          class="text-4xl font-semibold font-display text-blue-950 sm:text-6xl">
          Meet our Teachers.
        </h1>
        <p class="mt-4 text-slate-600 text-base max-w-2xl">
          Guiding you through the world of brand & identity design
        </p>
      </div>
      <ul
        class="grid grid-cols-1 mt-12 list-none md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-24 lg:mt-24 relative p-2 rounded-3xl bg-gradient-to-t from-white/20"
        role="list">
        {
          allPosts.slice().map((post) => (
            <TeacherEntries
              url={"/teachers/" + post.slug}
              name={post.data.name}
              intro={post.data.intro}
              role={post.data.role}
              avatar={post.data.avatar.url}
            />
          ))
        }
      </ul>
    </div>
  </section>
  <SubscribeOne />
</BaseLayout>
