<section class="overflow-hidden relative">
  <div
    class="relative px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pb-24 lg:py-24">
    <div>
      <div
        class="absolute top-0 left-0 z-10 w-screen h-[658px] overflow-hidden">
        <div
          class="absolute top-[-628px] left-1/2 w-[913px] h-[658px] z-0 transform mt-[360px] sm:mt-[400px] ml-[-120px] sm:ml-[-64px] rotate-[30deg]">
          <img
            src="/widget4.svg"
            width="747"
            height="490"
            class="relative bg-pink-50 ml-[72px] mt-[62px] rounded-3xl"
          />
        </div>
      </div>
      <div class="absolute top-0 left-0 z-0 w-screen h-[658px] overflow-hidden">
        <div
          class="absolute top-[-288px] left-1/2 w-[913px] h-[658px] z-0 transform mt-[360px] ml-[-120px] sm:ml-[304px] sm:mt-[500px] md:ml-[184px] lg:ml-[104px] rotate-[30deg] hidden sm:block">
          <img
            src="/dashboard.svg"
            width="747"
            height="490"
            class="relative bg-blue-50 ml-[72px] mt-[62px] rounded-3xl"
          />
        </div>
      </div>
    </div>

    <div class="max-w-xl relative z-10">
      <div class="text-left">
        <h1 class="text-4xl font-semibold font-display text-blue-950 text-balance">
          Unleash your potential through seamless online learning from today
        </h1>
        <p class="text-balance mt-4 text-slate-500">
          Embark on a journey of endless discovery, where the vast expanse of
          knowledge intertwines with opportunities for profound personal growth.
        </p>
        <div class="relative flex flex-col gap-2 md:flex-row mt-12">
          <a
            aria-label="your label"
            title="link to your page"
            href="https://buy.polar.sh/polar_cl_6UyhEnvG2ysaBiPi7GzTx6qgLB8Z8nw-EC1CBpAoPlo"
            class="items-center inline-flex w-full focus:outline-disc bg-green-500 duration-500 focus:ring-2 focus:ring-green-600 focus:ring-offset-2 font-medium md:w-auto h-12 hover:bg-green-600 justify-center px-6 py-1 rounded-full text-white text-center text-sm"
            >Buy Enlightr</a
          >
          <a
            aria-label="your label"
            title="link to your page"
            href="/"
            class="items-center inline-flex w-full focus:outline-disc bg-green-50 duration-200 focus:ring-2 focus:ring-green-60 focus:ring-offset-2 font-medium md:w-auto h-12 hover:bg-green-100 gap-3 justify-center px-6 py-1 rounded-full text-green-600 text-center text-sm"
            >See all pages <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-circle-chevron-right"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1.25"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M11 9l3 3l-3 3"></path>
              <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0z"></path>
            </svg></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
