---
const learningFeatures = [
  {
    title: "Experience a partnership model that is tailored to your needs.",
    description:
      "We'll work with you to co-design and co-develop features that will accelerate education for your institution.",
  },
  {
    title: "Receive mentoring and support",
    description:
      "from educators who have made the transition, in addition to technical and platform support for our free and open source tools. Let us take care of the platform, you take care of the teaching.",
  },
  {
    title: "Be part of a community of like-minded educators",
    description:
      "who are passionate about enhancing education, not just the bottom line.",
  },
  {
    title: "Gain access to a focused platform",
    description:
      "that enables you to scale a powerful, student-centred approach to learning across your institution. Our platform is designed to support the approach, not the other way around.",
  },
  {
    title: "Take advantage of easy-to-use tools",
    description:
      "that support your staff and students, making it quick and easy to track progress, provide feedback and communicate effectively.",
  },
  {
    title: "Empower learning designers",
    description:
      "to utilise assessment to drive learning, where learning design is central to curriculum design and staff-student interactions.",
  },
  {
    title: "Embrace a supportive approach",
    description:
      "that moves beyond marks to help students focus on what they have achieved, rather than where they lost points, bolstering their sense of pride and achievement.",
  },
  {
    title: "Ensure actionable feedback is central to learning,",
    description:
      "and boosts student engagement in formative feedback dialog with teaching staff - ultimately enhancing learning outcomes.",
  },
  {
    title: "Adopt meaningful grades",
    description:
      "that are more valid and designed to be qualitatively different and clearly communicated to students.",
  },
  {
    title: "Continuously evolve",
    description:
      "to incorporate the latest advances in learning design and technology, with access to regular updates and new features.",
  },
];
---

<section>
  <div class="px-8 py-5 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-10">
    <div class="max-w-3xl mx-auto">
      <div>
        <p
          class="text-2xl font-semibold font-display text-blue-950 lg:text-5xl">
          How we help
        </p>
        <p class="text-slate-500 mt-4 max-w-xl text-xl lg:text-2xl">
          Looking to empower your staff and students?
        </p>
        <p class="text-slate-500 mt-4 max-w-xl">
          By partnering with Learning Innovators, you'll challenge the status quo and support your institution to lead a purposeful impact on learning outcomes for your students. 
        </p>
        <p class="text-slate-500 mt-6 max-w-xl text-lg lg:text-xl">
          With our support, you will:
        </p>

        <div class="max-w-3xl mx-auto mt-4">
          <ul
            class="prose-styles list-disc grid grid-cols-1 lg:grid-cols-2 gap-x-12">
            {
              learningFeatures.map((feature) => (
                <li>
                  <strong class="font-display">{feature.title}</strong>
                  {feature.description}
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <!-- <div class="mt-12">
        <a
          href="/courses/all-courses-three"
          class="items-center inline-flex w-full focus:outline-disc bg-green-500 duration-500 focus:ring-2 focus:ring-green-600 focus:ring-offset-2 font-medium lg:w-auto h-12 hover:bg-green-600 justify-center px-6 py-1 rounded-full text-white text-center text-sm gap-3"
          >See all our courses <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-chevron-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.25"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path>
            <path d="M11 9l3 3l-3 3"></path>
            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0z"></path>
          </svg></a
        >
      </div>
    </div> -->
  </div>
</section>
