---
const learningFeatures = [
  {
    title: "Meaningful Grades",
    description:
      "that are more valid, with each grade level designed to be qualitatively different and communicated clearly to students.",
  },
  {
    title: "Actionable Feedback",
    description:
      "that is central to learning, with students engaging in formative feedback dialogs with teaching staff to ensure learning outcomes are achieved.",
  },
  {
    title: "Supportive Approach",
    description:
      "that moves beyond marks to help students focus on what they have achieved, rather than where they lost points, resulting in greater pride in achievements.",
  },
  {
    title: "Empower Learning Designers",
    description:
      "by using assessment to drive learning, with learning design central to curriculum design and staff-student interactions.",
  },
  {
    title: "Mentoring and Support",
    description:
      "from educators who have made the transition, with technical and platform support for our free and open source tools. Let us take care of the platform, you take care of the teaching.",
  },
  {
    title: "Focused Platform",
    description:
      "that means you can scale our approach across your institution, with a platform that is designed to support the approach, not the other way around.",
  },
  {
    title: "Easy-to-use Tools",
    description:
      "will support your staff and students, making it fast and simple to track progress, provide feedback, and communicate effectively.",
  },
  {
    title: "Continuously Evolving",
    description:
      "to incorporate the latest advances in learning design and technology, with regular updates and new features.",
  },
  {
    title: "Partnership Model",
    description:
      "partner to get the most from the approach. Work with us to co-design and co-develop features that will accellerate education for your institution.",
  },
  {
    title: "Community Driven",
    description:
      "approach that focuses on enhancing education, not making a profit. Partner with us to join the community and share in our successes.",
  },
];
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="max-w-3xl mx-auto">
      <div>
        <p
          class="text-xl font-semibold font-display text-blue-950 lg:text-5xl">
          How we help
        </p>
        <p class="text-slate-500 mt-4 max-w-xl">
          Looking to empower your staff and students? By partnering with Learning Innovators, your institution will be leading the .
        </p>
        <div class="max-w-3xl mx-auto mt-12">
          <ul
            class="prose-styles list-disc grid grid-cols-1 lg:grid-cols-2 gap-x-12">
            {
              learningFeatures.map((feature) => (
                <li>
                  <strong class="font-display">{feature.title}</strong>
                  {feature.description}
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <!-- <div class="mt-12">
        <a
          href="/courses/all-courses-three"
          class="items-center inline-flex w-full focus:outline-disc bg-green-500 duration-500 focus:ring-2 focus:ring-green-600 focus:ring-offset-2 font-medium lg:w-auto h-12 hover:bg-green-600 justify-center px-6 py-1 rounded-full text-white text-center text-sm gap-3"
          >See all our courses <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-chevron-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.25"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path>
            <path d="M11 9l3 3l-3 3"></path>
            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0z"></path>
          </svg></a
        >
      </div>
    </div> -->
  </div>
</section>
