<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="grid grid-cols-1 lg:grid-cols-3 items-end">
      <div class="lg:col-span-2">
        <p class="text-4xl font-semibold font-display text-blue-950">
          Why learning from Enlightr
        </p>
        <p class="text-slate-600 text-base mt-4 max-w-md">
          Looking to expand your skills and explore your creativity? Our
          hands-on creative classes are the perfect way to learn at your own
          pace and discover new talents.
        </p>
      </div>
      <div class="flex flex-col md:flex-row lg:flex-col gap-2 mt-12 lg:ml-auto">
        <a
          aria-label="your label"
          title="link to your page"
          href="https://buy.polar.sh/polar_cl_6UyhEnvG2ysaBiPi7GzTx6qgLB8Z8nw-EC1CBpAoPlo"
          class="items-center inline-flex w-full focus:outline-disc bg-green-500 duration-500 focus:ring-2 focus:ring-green-600 focus:ring-offset-2 font-medium md:w-auto h-12 hover:bg-green-600 justify-center px-6 py-1 rounded-full text-white text-center text-sm"
          >Buy Enlightr</a
        >
        <a
          aria-label="your label"
          title="link to your page"
          href="/"
          class="items-center inline-flex w-full focus:outline-disc bg-green-50 duration-200 focus:ring-2 focus:ring-green-60 focus:ring-offset-2 font-medium md:w-auto h-12 hover:bg-green-100 gap-3 justify-center px-6 py-1 rounded-full text-green-600 text-center text-sm"
          >See all pages <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-chevron-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.25"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path>
            <path d="M11 9l3 3l-3 3"></path>
            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0z"></path>
          </svg></a
        >
      </div>
    </div>
  </div>
</section>
