<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="pb-4">
      <h1 class="text-4xl font-semibold font-display text-blue-950 lg:text-8xl">
        Enlightr's style guide
      </h1>
    </div>
    <div class="mt-12 lg:mt-24">
      <div class="pb-5 border-b border-slate-200">
        <p class="text-3xl tracking-tighter text-blue-950">
          <span class="text-blue-950">Typography</span> / <span
            class="text-slate-500"
            >Love Ya Like A Sister, Outfit &amp; Azaret Mono</span
          >
        </p>
      </div>
      <div class="mt-12">
        <div>
          <div class="py-3 space-y-6">
            <div class="grid items-start grid-cols-1 lg:grid-cols-2">
              <div><span class="text-blue-950">Display</span></div>
              <div>
                <span
                  class="text-4xl font-semibold font-display text-blue-950 sm:text-8xl"
                  >Display</span
                >
              </div>
            </div>
            <div class="grid items-start grid-cols-1 lg:grid-cols-2">
              <div><span class="text-blue-950">Header 1</span></div>
              <div>
                <span
                  class="text-4xl font-semibold font-display text-blue-950 sm:text-6xl"
                  >Header 1</span
                >
              </div>
            </div>
            <div class="grid items-start grid-cols-1 lg:grid-cols-2">
              <div><span class="text-blue-950">Header 2</span></div>
              <div>
                <span class="text-4xl font-semibold font-display text-blue-950"
                  >Header 2</span
                >
              </div>
            </div>
            <div class="grid items-start grid-cols-1 lg:grid-cols-2">
              <div><span class="text-blue-950">Link</span></div>
              <div>
                <span class="text-blue-950 hover:text-slate-500">Link text</span
                >
              </div>
            </div>
            <div class="grid items-start grid-cols-1 lg:grid-cols-2">
              <div><span class="text-blue-950">Subtitle</span></div>
              <div>
                <span class="text-lg mt-8 font-display text-blue-950 lg:text-xl"
                  >Subtitle text</span
                >
              </div>
            </div>
            <div class="grid items-start grid-cols-1 lg:grid-cols-2">
              <div><span class="text-blue-950">Paragraph</span></div>
              <div>
                <span class="mt-2 text-sm text-slate-500"
                  >I am so happy, my dear friend, so absorbed in the exquisite
                  sense of mere tranquil existence, that I neglect my talents.</span
                >
              </div>
            </div>
            <div class="grid items-start grid-cols-1 lg:grid-cols-2">
              <div><span class="text-blue-950">Caption</span></div>
              <div>
                <span class="text-xs text-blue-950"
                  >Picture about somethign</span
                >
              </div>
            </div>
            <div class="grid items-start grid-cols-1 lg:grid-cols-2">
              <div><span class="text-blue-950">Code</span></div>
              <div>
                <code class="font-mono text-blue-950">tailwind.config.js</code>
              </div>
            </div>
            <div class="grid items-start grid-cols-1 lg:grid-cols-2">
              <div><span class="text-blue-950">List</span></div>
              <div>
                <ul
                  class="mt-6 space-y-3 list-disc list-inside text-slate-500"
                  role="list"
                >
                  <ul class="mt-3 list-disc" role="list">
                    <li>Access to premium posts</li>
                    <li>Weekly newsletters</li>
                    <li>Simple, secure card payment</li>
                    <li>No Advertising</li>
                    <li>Special discounts</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12">
        <div class="pb-5 border-b">
          <p class="text-3xl tracking-tighter text-blue-950">Color palette</p>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-2 mt-12 lg:grid-cols-6">
        <div class="space-y-2">
          <div class="p-6 bg-white border rounded-lg lg:justify-center"></div>
        </div>

        <div>
          <div class="p-6 rounded-t-lg lg:justify-center bg-slate-50"></div>
          <div class="p-6 lg:justify-center bg-slate-100"></div>
          <div class="p-6 lg:justify-center bg-slate-200"></div>
          <div class="p-6 lg:justify-center bg-slate-300"></div>
          <div class="p-6 lg:justify-center bg-slate-400"></div>
          <div class="p-6 lg:justify-center bg-slate-500"></div>
          <div class="p-6 lg:justify-center bg-slate-600"></div>
          <div class="p-6 lg:justify-center bg-slate-700"></div>
          <div class="p-6 lg:justify-center bg-slate-800"></div>
          <div class="p-6 lg:justify-center bg-slate-900"></div>
          <div class="p-6 rounded-b-lg lg:justify-center bg-slate-950"></div>
        </div>
        <div>
          <div class="p-6 rounded-t-lg lg:justify-center bg-green-50"></div>
          <div class="p-6 lg:justify-center bg-green-100"></div>
          <div class="p-6 lg:justify-center bg-green-200"></div>
          <div class="p-6 lg:justify-center bg-green-300"></div>
          <div class="p-6 lg:justify-center bg-green-400"></div>
          <div class="p-6 lg:justify-center bg-green-500"></div>
          <div class="p-6 lg:justify-center bg-green-600"></div>
          <div class="p-6 lg:justify-center bg-green-700"></div>
          <div class="p-6 lg:justify-center bg-green-800"></div>
          <div class="p-6 lg:justify-center bg-green-900"></div>
          <div class="p-6 rounded-b-lg lg:justify-center bg-green-950"></div>
        </div>
        <div>
          <div class="p-6 rounded-t-lg lg:justify-center bg-yellow-50"></div>
          <div class="p-6 lg:justify-center bg-yellow-100"></div>
          <div class="p-6 lg:justify-center bg-yellow-200"></div>
          <div class="p-6 lg:justify-center bg-yellow-300"></div>
          <div class="p-6 lg:justify-center bg-yellow-400"></div>
          <div class="p-6 lg:justify-center bg-yellow-500"></div>
          <div class="p-6 lg:justify-center bg-yellow-600"></div>
          <div class="p-6 lg:justify-center bg-yellow-700"></div>
          <div class="p-6 lg:justify-center bg-yellow-800"></div>
          <div class="p-6 lg:justify-center bg-yellow-900"></div>
          <div class="p-6 rounded-b-lg lg:justify-center bg-yellow-950"></div>
        </div>
        <div>
          <div class="p-6 rounded-t-lg lg:justify-center bg-pink-50"></div>
          <div class="p-6 lg:justify-center bg-pink-100"></div>
          <div class="p-6 lg:justify-center bg-pink-200"></div>
          <div class="p-6 lg:justify-center bg-pink-300"></div>
          <div class="p-6 lg:justify-center bg-pink-400"></div>
          <div class="p-6 lg:justify-center bg-pink-500"></div>
          <div class="p-6 lg:justify-center bg-pink-600"></div>
          <div class="p-6 lg:justify-center bg-pink-700"></div>
          <div class="p-6 lg:justify-center bg-pink-800"></div>
          <div class="p-6 lg:justify-center bg-pink-900"></div>
          <div class="p-6 rounded-b-lg lg:justify-center bg-pink-950"></div>
        </div>
        <div>
          <div class="p-6 rounded-t-lg lg:justify-center bg-blue-50"></div>
          <div class="p-6 lg:justify-center bg-blue-100"></div>
          <div class="p-6 lg:justify-center bg-blue-200"></div>
          <div class="p-6 lg:justify-center bg-blue-300"></div>
          <div class="p-6 lg:justify-center bg-blue-400"></div>
          <div class="p-6 lg:justify-center bg-blue-500"></div>
          <div class="p-6 lg:justify-center bg-blue-600"></div>
          <div class="p-6 lg:justify-center bg-blue-700"></div>
          <div class="p-6 lg:justify-center bg-blue-800"></div>
          <div class="p-6 lg:justify-center bg-blue-900"></div>
          <div class="p-6 rounded-b-lg lg:justify-center bg-blue-950"></div>
        </div>
      </div>
      <div class="mt-12 lg:mt-32">
        <div class="pb-5 border-b">
          <p class="text-3xl tracking-tighter text-blue-950">Buttons</p>
        </div>
        <div class="mt-12 flex flex-col lg:flex-row lg:items-center w-full">
          <div class="relative flex flex-col gap-2 lg:flex-row">
            <a
              aria-label="your label"
              title="link to your page"
              href="https://buy.polar.sh/polar_cl_6UyhEnvG2ysaBiPi7GzTx6qgLB8Z8nw-EC1CBpAoPlo"
              class="items-center inline-flex w-full focus:outline-disc bg-green-500 duration-500 focus:ring-2 focus:ring-green-600 focus:ring-offset-2 font-medium lg:w-auto h-12 hover:bg-green-600 justify-center px-6 py-1 rounded-full text-white text-center text-sm"
              >Buy Enlightr</a
            >
            <a
              aria-label="your label"
              title="link to your page"
              href="/"
              class="items-center inline-flex w-full focus:outline-disc bg-green-50 duration-200 focus:ring-2 focus:ring-green-60 focus:ring-offset-2 font-medium lg:w-auto h-12 hover:bg-green-100 gap-3 justify-center px-6 py-1 rounded-full text-green-600 text-center text-sm"
              >See all pages <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-chevron-right"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.25"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M11 9l3 3l-3 3"></path>
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0z"></path>
              </svg></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
