<section class="w-full overflow-hidden relatve">
  <div class="relative w-full mx-auto 2xl:max-w-7xl">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full px-8 py-5 mx-auto md:items-center md:justify-between md:flex-row md:px-12 lg:px-32 max-w-7xl">
      <div
        class="flex flex-row items-center justify-between text-blue-950 lg:justify-start">
        <a
          title="Learning Innovators Home"
          href="/"
          class="inline-flex items-center gap-3">
          <span>
            <img
              src="/logo.svg"
              alt="Learning Innovators Logo"
              class="h-10 w-10"
            />
          </span>
          <span class="text-2xl font-display"> &nbsp;Learning Innovators</span>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-blue-950 hover:text-blue-400 focus:outline-none focus:text-blue-950 md:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow text-sm font-normal gap-3 md:gap-6 text-slate-600 hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a
          class="hover:text-green-500 lg:ml-auto"
          aria-label="your label"
          title="About Us"
          href="/about"
          >About Us</a
        >
        <!-- <a
          class="hover:text-green-500"
          href="/system/styleguide"
          aria-label="your label"
          title="link to your page"
          >Styleguide</a
        > -->

        <!-- <a
          title="link to your page"
          aria-label="your label"
          href="https://buy.polar.sh/polar_cl_6UyhEnvG2ysaBiPi7GzTx6qgLB8Z8nw-EC1CBpAoPlo"
          class="items-center inline-flex w-full focus:outline-disc bg-green-50 duration-200 focus:ring-2 focus:ring-green-60 focus:ring-offset-2 font-medium lg:w-auto h-9 hover:bg-green-100 justify-center px-8 py-1 md:w-auto rounded-full text-green-600 text-center text-xs">
          Buy Enlightr
        </a> -->
      </nav>
    </div>
  </div>
</section>
