<section class="w-full overflow-hidden relatve">
  <div class="relative w-full mx-auto 2xl:max-w-7xl">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full px-8 py-5 mx-auto md:items-center md:justify-between md:flex-row md:px-12 lg:px-32 max-w-7xl">
      <div
        class="flex flex-row items-center justify-between text-blue-950 lg:justify-start">
        <a
          title="link to your page"
          href="/"
          class="inline-flex items-center gap-3">
          <span>
            <svg
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1907_6613)">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M23.7871 9.57375C22.1697 7.95644 19.5518 7.95644 17.9345 9.57375L16.6804 10.8279L14.1721 8.31962L15.4263 7.0655C17.0436 5.44821 17.0436 2.83025 15.4263 1.21296C13.809 -0.404321 11.191 -0.404321 9.57375 1.21296C7.95644 2.83025 7.95644 5.44821 9.57375 7.0655L10.8279 8.31962L8.31962 10.8279L7.0655 9.57375C5.44821 7.95644 2.83025 7.95644 1.21296 9.57375C-0.404321 11.191 -0.404321 13.809 1.21296 15.4263C2.83025 17.0436 5.44821 17.0436 7.0655 15.4263L8.31962 14.1721L10.8279 16.6804L9.57375 17.9345C7.95644 19.5518 7.95644 22.1697 9.57375 23.7871C11.191 25.4043 13.809 25.4043 15.4263 23.7871C17.0436 22.1697 17.0436 19.5518 15.4263 17.9345L14.1721 16.6804L16.6804 14.1721L17.9345 15.4263C19.5518 17.0436 22.1697 17.0436 23.7871 15.4263C25.4043 13.809 25.4043 11.191 23.7871 9.57375ZM13.7541 22.1149C13.0617 22.8073 11.9383 22.8073 11.2459 22.1149C10.5535 21.4225 10.5535 20.299 11.2459 19.6066L12.5 18.3526L13.7541 19.6066C14.4465 20.299 14.4465 21.4225 13.7541 22.1149ZM9.99175 12.5L12.5 9.99175L15.0083 12.5L12.5 15.0083L9.99175 12.5ZM11.2459 2.88512C11.9383 2.19274 13.0617 2.19274 13.7541 2.88512C14.4465 3.57749 14.4465 4.70097 13.7541 5.39335L12.5 6.64744L11.2459 5.39335C10.5535 4.70097 10.5535 3.57749 11.2459 2.88512ZM2.88512 11.2459C2.19274 11.9383 2.19274 13.0617 2.88512 13.7541C3.57749 14.4465 4.70097 14.4465 5.39335 13.7541L6.64744 12.5L5.39335 11.2459C4.70097 10.5535 3.57749 10.5535 2.88512 11.2459ZM22.1149 13.7541C21.4225 14.4465 20.299 14.4465 19.6066 13.7541L18.3526 12.5L19.6066 11.2459C20.299 10.5535 21.4225 10.5535 22.1149 11.2459C22.8073 11.9383 22.8073 13.0617 22.1149 13.7541Z"
                  fill="currentColor"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_1907_6613">
                  <rect
                    width="25"
                    height="25"
                    fill="white"
                  ></rect>
                </clipPath>
              </defs>
            </svg>
          </span>
          <span class="text-2xl font-display"> &nbsp;Enlightr</span>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-blue-950 hover:text-blue-400 focus:outline-none focus:text-blue-950 md:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow text-sm font-normal gap-3 md:gap-6 text-slate-600 hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a
          class="hover:text-green-500 lg:ml-auto"
          aria-label="your label"
          title="link to your page"
          href="/"
          >Overview</a
        >
        <a
          class="hover:text-green-500"
          href="/system/styleguide"
          aria-label="your label"
          title="link to your page"
          >Styleguide</a
        >

        <a
          title="link to your page"
          aria-label="your label"
          href="https://buy.polar.sh/polar_cl_6UyhEnvG2ysaBiPi7GzTx6qgLB8Z8nw-EC1CBpAoPlo"
          class="items-center inline-flex w-full focus:outline-disc bg-green-50 duration-200 focus:ring-2 focus:ring-green-60 focus:ring-offset-2 font-medium lg:w-auto h-9 hover:bg-green-100 justify-center px-8 py-1 md:w-auto rounded-full text-green-600 text-center text-xs">
          Buy Enlightr
        </a>
      </nav>
    </div>
  </div>
</section>
